<header
  class="fixed top-0 z-50 w-full border-b border-border-color bg-white transition-all duration-300 print:hidden"
  id="top-navbar"
>
  <div
    class="mx-auto flex h-16 max-w-screen-2xl items-center justify-between sm:px-6 lg:px-8"
  >
    <div class="flex items-center">
      <button type="button" class="p-2 sm:mr-4 lg:hidden">
        <i data-feather="menu" class="h-6 w-6"></i>
      </button>

      {{ with site.Params.topNavbar }}
        <a href="{{ site.BaseURL }}" class="flex items-center">
          {{ $brandIcon := resources.Get .brand.logo }}
          <img
            class="d-inline-flex h-10"
            src="{{ $brandIcon.RelPermalink }}"
            alt="Brand Icon"
          />
          <h1 class="pl-2 text-2xl font-extrabold italic text-title-text">
            {{ .brand.text }}
          </h1>
        </a>
      {{ end }}
    </div>

    <div class="flex flex-1 items-center justify-end">
      <nav
        class="hidden text-muted-text lg:flex lg:space-x-4 lg:text-xs lg:font-bold lg:uppercase lg:tracking-wide"
      >
        {{ range site.Menus.main }}
          <a
            href="{{ .PageRef }}"
            class="block h-16 border-b-4 border-transparent leading-[4rem] hover:border-current hover:text-accent"
          >
            {{ .Name }}
          </a>
        {{ end }}
      </nav>

      <div class="ml-8 flex items-center text-muted-text">
        <div
          class="flex items-center divide-x divide-border-color border-x border-border-color"
        >
          {{ if site.Params.topNavbar.search.enabled }}
            <span class="hover:text-accent">
              <a
                href="#"
                class="block border-b-4 border-transparent p-6 hover:border-current"
              >
                <i data-feather="search" class="h-4 w-4"></i>
                <span class="sr-only">Search</span>
              </a>
            </span>
          {{ end }}

          {{ if site.Params.topNavbar.settings.enabled }}
            <span class="hover:text-accent">
              <button
                type="button"
                class="block border-b-4 border-transparent p-6 hover:border-current"
                onclick="toggleSettingPanel()"
              >
                <i data-feather="settings" class="h-4 w-4"></i>
                <span class="sr-only"> Settings </span>
              </button>
            </span>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
  <script>
    // When the user scrolls down 40px from the top of the document, change the navbar color
    window.onscroll = function () {
      toggleNavbarBackground();
    };
    function toggleNavbarBackground() {
      if (
        document.body.scrollTop > 20 ||
        document.documentElement.scrollTop > 20
      ) {
        let nav = document.getElementById("top-navbar");
        if (!nav.classList.contains("shadow-sm")) {
          nav.classList.add("shadow-sm");
        }
      } else {
        let nav = document.getElementById("top-navbar");
        if (nav.classList.contains("shadow-sm")) {
          nav.classList.remove("shadow-sm");
        }
      }
    }
  </script>
</header>
