<section class="body-font text-gray-600">
  <div class="mb-10 flex w-full flex-col text-center">
    <h1 class="title-font text-2xl font-medium text-gray-900 sm:text-3xl">
      {{ .metadata.name }}
    </h1>
  </div>
  <div class="container mx-auto flex px-5 py-10">
    <div class="basis-1/4">
      <aside class="sticky top-20 ml-auto w-72 border-r px-4 py-2">
        <ul class="text-lg font-bold" id="selectors">
          <h1 class="text-xl font-bold">Categories</h1>
          <form action="" class="mt-2">
            {{ range .data.categories }}
              <li>
                <input type="checkbox" id="{{ .id }}" value="{{ .id }}" class="category-checkbox" />
                <label for="{{ .id }}" class="text-medium font-normal"
                  >{{ .name }}</label
                >
              </li>
            {{ end }}
          </form>
        </ul>
      </aside>
    </div>
    <div class="ml-4 grow pl-4" id="projects-container">
      {{ range .data.projects }}
        <div class="my-2 flex w-full basis-3/4 flex-col rounded-sm border p-4 project-item" data-tags="{{ range .tags }}{{ lower . }} {{ end }}">
          <a href="{{ .url }}" class="inline-flex text-cyan-600">
            <h1 class="text-xl font-semibold">{{ .name }}</h1>
            <i
              data-feather="external-link"
              class="mb-auto ml-auto h-4 w-4 text-slate-500"
            ></i>
          </a>
          <p class="text-medium">{{ .summary }}</p>
          <h1 class="mt-1 font-semibold">My Contributions</h1>
          <ul class="list-disc px-4">
            {{ range .contributions }}
              <li>{{ . }}</li>
            {{ end }}
          </ul>
          <div class="inline-flex">
            {{ range .tags }}
              <button
                type="button"
                class="mx-1 mt-2 rounded-sm bg-cyan-50 px-2 py-1 text-sm text-cyan-700 hover:bg-cyan-700 hover:text-slate-50"
              >
                {{ . }}
              </button>
            {{ end }}
          </div>
        </div>
      {{ end }}
    </div>
  </div>
</section>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const checkboxes = document.querySelectorAll('.category-checkbox');
    const projects = document.querySelectorAll('.project-item');

    checkboxes.forEach(checkbox => {
      checkbox.addEventListener('change', function () {
        const selectedCategories = Array.from(checkboxes)
          .filter(checkbox => checkbox.checked)
          .map(checkbox => checkbox.value);

        projects.forEach(project => {
          const projectTags = project.getAttribute('data-tags').split(' ');
          const isVisible = selectedCategories.length === 0 || selectedCategories.some(category => projectTags.includes(category));
          project.style.display = isVisible ? 'flex' : 'none';
        });
      });
    });
  });
</script>
