{{ with .data }}
  <section class="body-font text-gray-600">
    <div class="container mx-auto px-5 py-10">
      <div class="mb-10 flex w-full flex-col text-center">
        <h1 class="title-font text-2xl font-medium text-gray-900 sm:text-3xl">
          Technical Skills
        </h1>
      </div>
      <div
        class="-m-4 flex flex-col flex-wrap justify-center pb-3 md:flex-row lg:justify-start"
      >
        {{ range $id, $skill:= .skills }}
          <div class="p-3 md:w-1/2 lg:w-1/4">
            <div
              class="flex h-full flex-col rounded-lg bg-slate-100 p-4 hover:bg-sky-100 hover:shadow-sm"
              {{ if $skill.details }}
                onclick="toggleModal('skill-details-{{ $skill.name | urlize }}')"
              {{ end }}
            >
              <div class="flex items-center">
                <div
                  class="inline-flex h-10 w-10 flex-shrink-0 items-center justify-center rounded-full bg-indigo-100 text-white"
                >
                  {{ $image := resources.Get $skill.logo }}
                  <img
                    class="h-8 w-8 rounded object-cover object-center"
                    alt="hero"
                    src="{{ $image.RelPermalink }}"
                  />
                </div>
                <h2 class="title-font pl-1 text-2xl font-medium text-gray-900">
                  {{ $skill.name }}
                </h2>
                {{ if $skill.details }}
                  <i
                    data-feather="external-link"
                    class="mb-auto ml-auto h-4 w-4 text-slate-500"
                  ></i>
                {{ end }}
              </div>
              <div class="mt-1 flex flex-col">
                {{ range $highlight := $skill.highlights }}
                  <div class="flex items-center">
                    <i
                      data-feather="{{ $highlight.icon.id }}"
                      class="h-4 w-4"
                    ></i>
                    <h3 class="pl-1">{{ $highlight.text }}</h3>
                  </div>
                {{ end }}

              </div>
            </div>
          </div>
        {{ end }}
      </div>
    </div>
    {{ range $id,$skill := .skills }}
      {{ if $skill.details }}
        {{ partial "components/modals/tech-skill-details.html" (dict "id" $id "skill" $skill) }}
      {{ end }}
    {{ end }}
  </section>
{{ end }}
