<div class="p-3 md:w-1/2">
    <a
      class="flex flex-col rounded-lg border h-full p-4 hover:bg-sky-50"
      href="{{ .RelPermalink }}"
    >
      <div class="inline-flex justify-between pb-2 hidden">
        <div class="inline-flex item-center text-gray-600">
          <i class="w-4 h-4 m-auto" data-feather="book"></i>
          <h5 class="ml-2 text-sm m-auto">{{len (where .Pages "BundleType" "leaf")}} posts</h5>
        </div>
        <div class="rounded-md px-2 py-1 bg-sky-100">
          <h5 class="text-sm text-sky-600 font-medium">Kubernetes</h5>
        </div>
      </div>
      <h1 class="text-xl text-gray-600 font-bold pb-2">{{.Title}}</h1>
      <div class="text-justify pb-3">
        <p>{{.Summary}}</p>
      </div>
      <div class="inline-flex justify-between pb-1">
        <div class="inline-flex item-center text-gray-600">
          <i class="w-4 h-4 m-auto" data-feather="book"></i>
          <h5 class="ml-2 text-sm m-auto">{{len (where .Pages "BundleType" "leaf")}} posts</h5>
        </div>
        <div class="inline-flex item-center text-cyan-600">
          <h5 class="text-sm m-auto">Read</h5>
          <i class="w-4 h-4 ml-2 m-auto" data-feather="arrow-right"></i>
        </div>
      </div>
    </a>
  </div>
  