<div class="py-3 grow">
    <a
      class="flex flex-col rounded-lg border h-full p-4 hover:bg-sky-50 no-underline"
      href="{{ .RelPermalink }}"
    >
    <div class="inline-flex justify-between pb-1">
        <h1 class="text-xl text-gray-600 font-bold mb-0">{{.Title}}</h1>
        <div class="inline-flex item-center text-gray-600">
          <i class="w-4 h-4 m-auto" data-feather="clock"></i>
          <h5 class="ml-2 text-sm m-auto">{{ .ReadingTime }} min to read</h5>
        </div>
      </div>
      <div class="text-justify">
        <p class="my-2">{{.Summary}}</p>
      </div>
    </a>
  </div>
  