<!-- This example requires Tailwind CSS v2.0+ -->
<div
  class="relative z-10 hidden"
  aria-labelledby="modal-title"
  role="dialog"
  aria-modal="true"
  id="skill-details-{{ .skill.name | urlize }}"
>
  <div class="fixed inset-0 bg-gray-500 opacity-75 transition-opacity"></div>
  <div class="fixed inset-0 z-10 overflow-y-auto">
    <div
      class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0"
    >
      <div
        class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg md:max-w-2xl"
      >
        <div class="flex-col bg-gray-50 px-4 py-3 sm:flex sm:px-6">
          <div class="inline-flex items-baseline">
            <div
              class="inline-flex h-10 w-10 flex-shrink-0 items-center justify-center rounded-full bg-indigo-100 text-white"
            >
              {{ $image := resources.Get .skill.logo }}
              <img
                class="h-6 w-6 rounded-sm bg-slate-200 object-cover object-center"
                alt="hero"
                src="{{ $image.RelPermalink }}"
              />
            </div>
            <h2 class="title-font ml-2 text-2xl font-medium text-title-text">
              {{ .skill.name }}
            </h2>
          </div>
        </div>
        <div class="bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4 text-muted-text">
          <p class="text-sm">
            {{ .skill.details.summary | markdownify }}
          </p>
          {{ if .skill.details.capabilities }}
            <h5 class="title-font text-md pt-2 font-bold">Capabilities:</h5>
            <ul class="list-disc pl-4">
              {{ range .skill.details.capabilities }}
                <li>{{ . | markdownify }}</li>
              {{ end }}
            </ul>
          {{ end }}
        </div>
        <div class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
          <button
            type="button"
            class="inline-flex w-full justify-center rounded-md border border-transparent bg-red-600 px-4 py-2 text-base font-medium text-white shadow-xs hover:bg-red-700 focus:outline-hidden focus:ring-2 focus:ring-red-500 focus:ring-offset-2 sm:ml-3 sm:w-auto sm:text-sm"
            onclick="toggleModal('skill-details-{{ .skill.name | urlize }}')"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  function toggleModal(id) {
    let modal = document.getElementById(id);
    if (typeof modal !== "undefined" && modal !== null) {
      modal.classList.toggle("hidden");
    }
  }
</script>
